.contact-section {
  margin-top: 5%;
}
.contacts{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' stroke-opacity='0'%3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='77' height='240'/%3E%3C/g%3E%3C/svg%3E"); 
}
.mail-contact{
    margin-left: 3rem;
}

.contact-heading h1{
    font-weight: 400;
    font-size: 3rem;
    font-family: serif;
    color: #b71540;
  }

.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-detail {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  padding: 0 1rem;
}

.gmail h5 {
  margin: 0.1rem;
}
.gmail p {
  margin: 0.1rem 0;
}
.gmail a{
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
}
.gmail {
    justify-content: space-around;
    height: 10rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    padding: 1rem;
    border-radius: 7px;
    color: coral;
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
    rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    box-shadow:  -24px 24px 81px #c7c7c7,
    24px -24px 81px #f9f9f9;
}
.gmail:hover{
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
    bisque 40%, rgb(255, 185, 160) 78%);;
    color:#fff

}
.whatsapp{
    justify-content: space-around;
    height: 10rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    padding: 1rem;
    color: coral;
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    box-shadow:  -24px 24px 81px #c7c7c7,
             24px -24px 81px #f9f9f9;
    width: 87%;
    margin-top: 1rem;
}

.whatsapp a{
    text-decoration: none;
    margin: 1rem;
    font-size: 1.2rem;
    
}
.whatsapp:hover{
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
    bisque 40%, rgb(255, 185, 160) 78%);;
    color:#fff
}

.instagram{
    justify-content: space-around;
    height: 10rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    padding: 1rem;    color: coral;
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    box-shadow:  -24px 24px 81px #c7c7c7,
             24px -24px 81px #f9f9f9;
    width: 87%;
    width: 87%;
    margin-top: 1rem;

}
.instagram:hover{
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
    bisque 40%, rgb(255, 185, 160) 78%);;
    color:#fff

}

.instagram a{
    text-decoration: none;
    margin: 1rem;
    font-size: 1.5rem;
}
.contact-form{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
}
 input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border:2px solid coral;
    resize: none;
    color: black;
    margin: 1rem;
 }

 .submit-btn {
    width: 150px;
    color:coral;
    height: 60px;
    border: 2px solid coral;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1rem;
  }
  
  .submit-btn:hover {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
    bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    font-size: 0.9em;
  }


  @media screen and (max-width: 600px) { 
    .contact-detail{
        flex-direction: column;
    }
    .mail-contact{
        /* width: 80%; */
        margin: 0;
        margin-top: 5rem;
    }
    .gmail{
        width: 87%;
    }
    .contact-form{
        width: 80%;

    }
  }